<footer>
  <div>
    <div>
      <div>
        <h1><a href="https://www.kevashcraft.com/" title="Kevin Ashcraft's Website">Kev<span>in</span> Ashcraft</a></h1>
        <h2><a href="https://tutorials.kevashcraft.com" title="Kevin's Linux & Radio Tutorials">Linux & Radio Tutorials</a></h2>
      </div>
      <div>
        <h3>Tutorials</h3>
        <ul>
          <li>
            <a href="/tags/" title="Tutorials Sorted by Hashtag">Tutorials Sorted by Hashtag</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>Topics</h3>
        <ul>
          {% for folder in folders %}
          <li>
            <a href="/{{ folder.folder }}/" title="{{ folder.folderName }} Tutorials">{{ folder.folderName }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div>
      <div>
        <h3>Internal Sites</h3>
        <ul>
          <li>
          <a href="https://www.kevashcraft.com" title="Kevin Ashcraft's Website">My Homepage</a>
          </li>
          <li>
            <a href="https://blog.kevashcraft.com" title="Kevin's Blog">My Blog</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>External Sites</h3>
        <ul>
          <li>
            <a href="https://km4fpa.com" title="KM4FPA.com">KM4FPA.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    {#<p>Copyright 2017 <a href="https://www.kevashcraft.com">Kevin Ashcraft</a> under the MIT License</p>#}
  </div>
</footer>
