<header>
  <h1><a href="https://www.kevashcraft.com/" title="Kevin Ashcraft's Website">Kev<span class="accent">in</span> Ashcraft</a></h1>
  <h2><a href="https://tutorials.kevashcraft.com" title="Kevin's Linux & Radio Tutorials">Linux & Radio Tutorials</a></h2>
</header>
