$large: 1200px;
$medium: 900px;
$small: 320px;
$text-accent-color: #2176b8;
$text-primary-color: #000000;
$site-font-family: 'Roboto Slab', serif;
$site-background-primary-color: #FFFFFF;
$site-background-accent-color: #2176b8;
$site-font-size: 24px;
$header-font-family: 'Exo 2', sans-serif;

