@import "../../common/styles/master.scss";
@import "../../common/lib/reset.scss";
@import "../../common/config.scss";

// Tutorials styles
html {
  body {
    main {
      .code, .command, .snippet {
        background: $code-background-color;
        color: $code-text-color;
        padding: 2px 15px;
        whitespace: pre;
      }

    }
  }
}
