/*  FONTS   */

// colors
$main-text-color: #000;

$link-color: #64B5F6;

// sizes
$master-font-size: 18px;

/*  STRUCTURE   */

// sizes
$header-height: 25px;

//colors
$header-background: #CFD8DC;

$main-background: #ECEFF1;

$section-background: #FFF;
