@import "lib/reset.scss";

html {
  height: 100%;
  font-size: $site-font-size;

  > body {
    min-height: 100%;
    background: $site-background-primary-color;
    font-family: $site-font-family;
    font-size: $site-font-size;
    line-height: 1.5em;

    > main {
      /* Site header */
      > header {
        display: block;
        max-width: $site-width;
        padding: 1em 3em;
        margin: 0 auto;
      }
      
      > article {
        display: block;
        max-width: $site-width;
        padding: 1em 3em;
        margin: 0 auto;
        /* Standard section */
        section {
          margin: 1em 0.5em 3em;
          padding-top: 4em;
        
          strong {
            font-weight: bold;
          }
          p {
            margin: 1em 2em;
            font-size: 1em;
          }
        
        }
      }

      /* Primary elements */
      a {
        text-decoration: none;
        border-bottom: 1px solid lighten($text-accent-color, 45%);
        color: $text-primary-color;
        transition: border .3s ease;
        &:visited {
          color: $text-primary-color;
        }
        &:hover {
          border-bottom: 2px solid $text-accent-color;
        }
        &:hover h1 {
          color: $text-accent-color;
        }
      }
      form {
        margin: 0 auto;
      }
      h1, h2, h3, h4, h5, div.h1 {
        a {
          border: none;
          transition: color .3s ease;
          &:hover {
            border: none;
          }
        }
      }
      h1, h2, h3, div.h1 {
        font-family: $header-font-family;
        font-size: 1.8em;
        font-weight: bold;
      }
      h1, h2, div.h1 {
        a {
          &:hover {
            color: $text-accent-color;
          }
        }
      }
      h3, h4, h5 {
        a, a:visited {
          color: $text-accent-color;
        }
      }
      h1, div.h1 {
        font-size: 1.8em;
      }
      h2 {
        font-size: 0.8em;
        margin: 0 1em;
      }
      h3 {
        font-size: 1.1em;
        color: $text-accent-color;
        margin: 0 1em;
        clear: both;
        i {
          margin-right: 10px;
        }
        &.pb {
          padding-bottom: 25px;
        }
      }
      h4 {
        font-size: 1.1em;
        font-weight: bold;
        color: $text-accent-color;
        margin: 0 1em;
        clear: both;
        a {
          color: $text-accent-color;
        }
        &.small {
          margin: 0 2em;
          font-size: 0.6em;
          line-height: 1em;
        }
      }
      h5 {
        font-size: 1em;
        font-weight: bold;
        clear: both;
        margin: 1em 2em;
      }
      h1, h2, h3, h4, h5, div.h1 {
        &.black, &.black a {
          color: $text-primary-color;
        }
      }
      img {
        margin: 1em 0.5em;
        max-width: 150px;
        max-height: 150px;
      }
      img.large {
        max-width: 300px;
        max-height: 300px;
      }
      label {
        font-size: 0.6em;
        font-weight: 600;
      }
      section {
        clear: both;
      }
      ul {
        margin: 15px 45px;
      }
      ul ul {
        margin: 5px 15px 15px;
      }

      /* Global classes */
      .accent {
        color: $text-accent-color;
      }
      .black {
        color: $text-primary-color;
      }
      .bl {
        border-left: 1px solid black;
        // padding-left: 25px;
      }
      .clear {
        clear: both;
      }
      .debug-boarders {
        border: 1px dashed blue;
      }
      .float-left {
        float: left;
      }
      .float-right {
        float: right;
      }

      .flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &.around {
          align-items: center;
          justify-content: space-around;
        }
        &.center {
          justify-content: center;
        }
        &.reverse {
          justify-content: flex-end;
        }
        .stretch {
          flex: 2;
        }
      }
      
      .icon-margins {
        i.fa {
          margin-right: 1.5em;
        }
      }

      .indent {
        margin: 65px 115px;
      }

      .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        div {
          position: relative;
          margin: 1em;
          text-align: center;
          label {
            display: block;
            text-align: left;
            height: 2em;
            opacity: 0;
            transition: opacity .3s ease;
            &.active {
              opacity: 1;
            }
          }
        }
        textarea {
          width: 250px;
          height: 200px;
        }
      }

      .margin {
        margin: 2em;
      }

      .margin-tb {
        margin-top: 2em;
        margin-bottom: 2em;
      }

      .post-list {
        span {
          font-size: 0.8em;
          line-height: 1em;
        }
      }
      .stacked {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

      }

      .logos, .images {
        img {
          height: initial;
          width: initial;
          flex: none;
        }
      }
      .logos {
        img {
          max-width: 60px;
          max-height: 60px;
          margin: 1em;
        }
      }
      .images {
        img {
          max-width: 250px;
          max-height: 250px;
          margin: 2em;
        }
      }
      .right-align {
        text-align: right;
      }
      .social {
        ul {
          width: 300px;

          li {
            a {
              display: block;
              margin-left: 0.5em;
              border: none;
              color: darken($text-accent-color, 25%);
              transition: color .3s ease;
              &:hover {
                border: none;
                color: $text-accent-color;
                i {
                  color: $text-accent-color;
                }
              }
              i {
                color: lighten($text-accent-color, 25%);
                transition: color .3s ease;
                float: left;
                margin: 5px 10px;
                width: 25px;
                text-align: center;
              }
            }
          }
        }
      }

      .w250 {
        width: 250px;
      }
      .w450 {
        width: 450px;
      }

      /* Element classes */
      div.float-right {
        margin: 1em 0.5em;
      }
      div.float-left {
        margin: 1em 0.5em;
      }

      form.contact {
        input {
          font-size: 1.1em;
          width: 250px;
          border-radius: 3px;
          border: 1px inset;
          padding: 0.2em;
        }
        textarea {
          width: 500px;
          border-radius: 3px;
          border: 1px inset;
          padding: 0.2em;
        }
        button {
          padding: 0.6em 0.8em;
          font-size: 1.1em;
          color: $text-accent-color;
          transition: color .3s ease, background 0.3s ease;
          border-radius: 8px;
          &:hover {
            color: #fff;
            cursor: pointer;
            background: darken($text-accent-color, 25%);
          }
        }
      }

      img.section-header {
        display: block;
        height: initial;
        width: initial;
        margin: 1em auto;
        clear: both;
        max-height: 125px;
      }
      img.symbol {
        margin: 2em 0 0;
        max-width: 65px;
        max-height: 65px;
      }
      
      p.em {
        margin: 2em 3em;
        font-weight: 400;
        border: 2px solid black;
        border-radius: 4px;
        padding: 2em;
      }

      > footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 400px;
        background: darken($text-accent-color, 15%);
        padding-top: 25px;
        
        h1, h2, h3, h4, h5, p, a, a:visited, div.h1 {
          color: invert($text-primary-color);
          span {
            transition: color .3s ease;
            color: invert($text-accent-color);
          }
          a:hover {
            span {
              color: $text-accent-color;
            }
          }
        }

        > div:first-of-type {
          min-height: 300px;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          > div {
            display: flex;
            max-width: 33%;
            margin: 25px;
            flex-direction: column;
            justify-content: space-between;
          }
        }
        > div:last-of-type {
          text-align: center;
          font-size: 0.4em;
        }
      }
    }
  }
}
