{% extends 'templates/master.twig' %}

{% block title %}<title>Kevin's Blog</title>{% endblock %}

{% block content %}
  {% for blog in blogs %}
    {% include 'partials/blog_entry.twig' %}
  {% endfor %}
{% endblock %}
