{% extends 'templates/master.twig' %}

{% block title %}<title>Kevin Ashcraft's Website</title>{% endblock %}

{% block content %}
<header>
  <h1><a href="https://www.kevashcraft.com">Kevin Ashcraft</a></h1>
  <h2>Computer Programmer</h2>
</header>
<section>
  <h1>Hello World</h1>
  <p>
    Welcome to my website! I'm Kevin Ashcraft, a computer programmer and amateur radio operator in Auburndale, Florida.
    <br>
    You can find some of my code on <a href="https://github.com/kevashcraft" target="_blank" rel="noopener">Github</a>, and some of my mania on <a href="https://twitter.com/kevashcraft" target="_blank" rel="noopener">Twitter</a>. I've also got a <a href="https://blog.kevashcraft.com" target="_blank" rel="noopener">blog</a>.
  </p>
</section>
<section>
  <h1>Getting Started</h1>
  <p>
    This is the 10th time, at least, that I've made this website. Learning something new, trying to beat Google's Page Speed test, getting busy with a paying project, all have caused previous iterations to be fatal. So this time I'm working with a new premise: start small and increase momentum.
    <br>
    This is a basic one-page setup built with my favorite tools (for now) and we'll see if I get the time to come back and add in the blog, some images, and a bit of js.
    <br>
    Until next time, have a cool day and thanks for stopping by the site.
  </p>
</section>
<section>
  <h1>Around the Web</h1>
  <p>
    You can find me on most sites with the username <i>kevashcraft</i>.
  </p>
  <ul>
    <li><a href="https://about.me/kevashcraft" target="_blank" rel="noopener">About.me</a></li>
    <li><a href="https://hub.docker.com/u/kevashcraft/" target="_blank" rel="noopener">Docker</a></li>
    <li><a href="https://www.facebook.com/kevashcraft" target="_blank" rel="noopener">Facebook</a></li>
    <li><a href="https://github.com/kevashcraft" target="_blank" rel="noopener">Github</a></li>
    <li><a href="https://plus.google.com/+KevinAshcraft" target="_blank" rel="noopener">Google+</a></li>
    <li><a href="https://www.instagram.com/kevashcraft/" target="_blank" rel="noopener">Instagram</a></li>
    <li><a href="https://keybase.io/kevashcraft" target="_blank" rel="noopener">Keybase.io</a></li>
    <li><a href="https://www.linkedin.com/in/kevashcraft" target="_blank" rel="noopener">LinkedIn</a></li>
    <li><a href="https://www.reddit.com/user/kevashcraft" target="_blank" rel="noopener">Reddit</a></li>
    <li><a href="https://twitter.com/kevashcraft" target="_blank" rel="noopener">Twitter</a></li>
    <li><a href="https://www.youtube.com/user/kevashcraft" target="_blank" rel="noopener">YouTube</a></li>
    <li><a href="https://www.pinterest.com/kevashcraft/">Pinterest</a></li>
  </ul>
  <p>
    Most of these accounts are unused, but I figure the list could be helpful for some seo.
  </p>
</section>
{% endblock %}
