{% extends 'templates/master.twig' %}

{% block title %}<title>Kevin Ashcraft's Website</title>{% endblock %}

{% block content %}
<section>
  <h3>Hello World</h3>
  <div class="flex">
    <div>
      <img class="standard float-left" src="/img/kevin-github-profile.jpg">
    </div>
    <div class="stretch">
      <p><strong>I'm Kevin Ashcraft</strong>, a <a href="#computer-programmer">computer programmer</a> and <a href="#amateur-radio">amatuer radio operator</a> in <a href="#auburndale-florida">Auburndale, Florida</a>. Welcome to my website! There are many others out there, but this one is my very own, and there's not much here but I still call it home :)</p>
      <p>I've also got <a href="https://blog.kevashcraft.com" title="Kevin's Blog">a blog</a>, and a <a href="https://tutorials.kevashcraft.com" title="Linux & Radio Tutorials">tutorials site</a> if you're interested.</p>
    </div>
  </div>
</section>
<section id="computer-programmer">
  <img class="section-header" src="/img/keyboard.png" alt="keyboard icon">
  <h3>Computer Programmer</h3>
  <div class="flex">
    <div class="stacked logos">
      <img src="/img/centos_logo.png" alt="centos logo" title="CentOS">
      <img src="/img/redhat_logo.png" alt="redhat linux logo" title="Red Hat">
      <img src="/img/ubuntu_logo.png" alt="ubuntu linux logo" title="Ubuntu">
    </div>
    <div class="stretch">
      <p>I am a <strong>Linux administrator</strong> and feel at home in the command line. I grew up programming in other operating systems, but once I started with Linux everything came into place and the different parts of the system, networking, browsing, scripting, files and databases, all met at one prompt. Now everything from the home router to the server hosting this site is powered by the Linux kernel.</p>
    </div>
  </div>
  <div class="flex">
    <div class="stretch">
      <p>I am a <strong>database administrator</strong> and enjoy managing large armounts of data. If Linux is where the whole computer ecosystem came into place for me, then the database is where programming came into focus. Everything is about the data.</p>
      <p>On wild Friday nights I like to import massive csv files and draw nifty graphs, and when I daydream about the future it's about when I finally get to start playing with MLlib. Not really, but close.</p>
    </div>
    <div class="stacked logos">
      <img src="/img/postgres_logo.png" alt="postgresql logo" title="PostgreSQL">
      <img src="/img/mysql-mariadb_logo.png" alt="mysql/mariadb logo" title="MariaDB">
      <img src="/img/mongo_logo.png" alt="mongodb logo" title="MongoDB">
    </div>
  </div>
  <div class="flex">
    <div class="stacked logos">
      <img src="/img/nodejs_logo.png" alt="nodejs logo" title="NodeJS">
      <img src="/img/polymer_logo.png" alt="polymerjs logo" title="PolymerJS">
      <img src="/img/vuejs_logo.png" alt="vuejs logo" title="VueJS">
      <img src="/img/gulp_logo.png" alt="gulpjs logo" title="GulpJS">
    </div>
    <div class="stretch">
      <p>I am a <strong>full-stack developer</strong> and create complete applications to manage and analyze data from the server infastructure toe the frontend. The web browser has become a great interface for the database; it's verstile, working on every system, and as limitless as the data it displays, able to draw interactive graphs, animations, and games..</p>
      <p>I appreciate good markup and have been leaning more towards server-side js recently, but it all started with php.</p>
    </div>
  </div>
</section>
<section id="amateur-radio">
  <h3>Amateur Radio Station</h3>
  <div class="flex small-column">
    <div class="stretch">
      <p>My callsign is <strong>KM4FPA</strong> and I'm a net control station for the Eagle Net on the <a href="http://ni4ce.org/wp1/" title="West Central Florida NI4CE Repeater System" rel="noopener" target="_blank">NI4CE repeater system</a>. My primary radio is an Icom 7100, with a Yaesu 8900 for mobile, and Baofeng's filling in the gaps.</p>
      <p>My favorite part of the hobby is making antennas. I've spent the past few years stringing up different wires and building masts, doing my best to keep my backyard clean while continuing to experiment. It's an ellusive challenge because there are so many designs to try and possibilities.</p>
      {#<p>Checkout my radio website at <a href="https://km4fpa.com" target="_blank">KM4FPA.com</a>.</p>#}
    </div>
    <div class="stacked images small-column">
      <img src="/img/radios/yaesu-icom-baofeng.jpg" alt="yaesu icom & baofeng radios" title="Yaesu, Icom & UV-5R">
    </div>
  </div>
  <div class="flex images">
    <img src="/img/radios/icom-7100.jpg" alt="icom 7100 radio" title="Icom 7100">
    <img src="/img/radios/yaesu-8900.jpg" alt="yaesu 8900 radio" title="Yaesu 8900">
  </div>
</section>
<section id="auburndale-florida">
  <h3>Native Floridian</h3>
  <div class="flex">
    <div class="stretch">
      <p>I've been born and raised in <strong>Central Florida</strong> and went to the University of Florida.</p>
      <p>Here theme parks are a way of life and the beach is always close by which is good because it's summer almost all of the time.</p>
    </div>
    <div class="stacked images">
      <img src="/img/florida.png" alt="the state of florida" title="The Sunshine State">
    </div>
  </div>
</section>
<section>
  <img class="section-header" src="/img/telescope.png" alt="a telescope">
  <h3>Find Me</h3>
  <p>Contact me <strong>via email</strong> at <a href="mailto:kevin@kevashcraft.com?subject=Hello from your website">kevin@kevashcraft.com</a> or type a quick message below:</p>
  <div class="container">
    <form id="contact_form" class="autoshow-labels box contact-form" action="/send-message">
      <h3>Send me a message</h3>
      <div id="contact_message" class="contact-message">
        <p>Thanks! I'll be in touch :)</p>
      </div>
      <div class="fields">
        <div class="field-body columns is-centered">
          <div class="field column is-one-half">
            <label for="name_input" class="label">Name</label>
            <div class="control is-expanded has-icons-left">
              <input type="text" name="name" id="name_input" placeholder="Your name" class="input" />
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field column is-one-half">
            <label for="email_input" class="label">Email</label>
            <div class="control is-expanded has-icons-left">
              <input type="email" name="email" id="email_input" placeholder="Your email address" class="input" />
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="field">
          <label for="message_input" class="label">Message</label>
          <div class="control">
            <textarea name="message" id="message_input" placeholder="A message" class="textarea"></textarea>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button class="button is-primary">Send Message</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <p>and you can <strong>find me around the web</strong>...</p>
  <div class="flex around social">
    <ul>
      <li>
        <a href="https://github.com/kevashcraft" title="KevAshcraft on Github">
          <i class="fa fa-github"></i>
          <span>Github</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kevashcraft" title="@kevashcraft on Twitter">
          <i class="fa fa-twitter"></i>
          <span>Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/+KevinAshcraft" title="+KevinAshcraft on Google Plus" target="_blank" rel="noopener">
          <i class="fa fa-google-plus"></i>
          <span>Google+</span>
        </a>
      </li>
      <li>
        <a href="https://about.me/kevashcraft" title="KevAshcraft on About.me" target="_blank" rel="noopener">
          <i class="fa fa-user-circle-o"></i>
          <span>About.me</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://hub.docker.com/u/kevashcraft/" title="KevAshcraft on Docker" target="_blank" rel="noopener">
          <i class="fa fa-rocket"></i>
          <span>Docker</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/kevashcraft" title="KevAshcraft on Facebook" target="_blank" rel="noopener">
          <i class="fa fa-facebook"></i>
          <span>Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/kevashcraft/" title="@kevashcraft on Instagram" target="_blank" rel="noopener">
          <i class="fa fa-instagram"></i>
          <span>Instagram</span>
        </a>
      </li>
      <li>
        <a href="https://keybase.io/kevashcraft" title="KevAshcraft on Keybase.io" target="_blank" rel="noopener">
          <i class="fa fa-key"></i>
          <span>Keybase.io</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/kevashcraft" title="KevAshcraft on LinkedIn" target="_blank" rel="noopener">
          <i class="fa fa-linkedin"></i>
          <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://www.reddit.com/user/kevashcraft" title="KevAshcraft on Reddit" target="_blank" rel="noopener">
          <i class="fa fa-reddit-alien"></i>
          <span>Reddit</span>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/kevashcraft" title="KevAshcraft on YouTube" target="_blank" rel="noopener">
          <i class="fa fa-youtube-play"></i>
          <span>YouTube</span>
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.com/kevashcraft/" title="KevAshcraft on Pinterest" target="_blank" rel="noopener">
          <i class="fa fa-pinterest-p"></i>
          <span>Pinterest</span>
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
