{% extends 'templates/master.twig' %}

{% block title %}<title>Kevin Ashcraft's Website</title>{% endblock %}

{% block content %}
<header>
  <h1>Kev<span class="accent">in</span> Ashcraft</h1>
  <h2>Computer Programmer</h2>
</header>
<section>
  <h3>Hello World</h3>
  <div class="flex">
    <div>
      <img class="standard float-left" src="https://avatars2.githubusercontent.com/u/3028329?s=400&u=dcfb092eb190f79411167d447b10b35dd22a9267&v=4">
    </div>
    <div class="stretch">
      <p><strong>I'm Kevin Ashcraft</strong>, a <a href="#computer-programmer">computer programmer</a> and <a href="#amateur-radio">amatuer radio operator</a> in <a href="#auburndale-florida">Auburndale, Florida</a>. Welcome to my website! There are many others out there, but this one is my very own. Here are a few more lines of words to see how the word wrap will work. It looks like one more line is needed. So maybe two will do it? Okay, one more. Is it all of the margin?</p>
    </div>
  </div>
</section>
<section id="computer-programmer">
  <img class="section-header" src="/img/keyboard.png">
  <h3>Computer Programmer</h3>
  <div class="flex">
    <div class="stacked logos">
      <img src="/img/centos_logo.png">
      <img src="/img/redhat_logo.png">
      <img src="/img/ubuntu_logo.png">
    </div>
    <div class="stretch">
      <p>I am a <strong>Linux administrator</strong> and feel at home in the command line. I grew up programming in other operating systems, but once I started with Linux everything came into place and the different parts of the system, networking, browsing, scripting, files and databases, all met in one place. Now everything from the home router to the server hosting this site is powered by the Linux kernel.</p>
    </div>
  </div>
  <div class="flex">
    <div class="stretch">
      <p>I am a <strong>database administrator</strong> and enjoy managing large armounts of data. If Linux is where the whole computer ecosystem came into place for me, then the database is where programming clicked into place. Everything is about the data.</p>
    </div>
    <div class="stacked logos">
      <img src="/img/postgres_logo.png">
      <img src="/img/mysql-mariadb_logo.png">
      <img src="/img/mongo_logo.png">
    </div>
  </div>
  <div class="flex">
    <div class="stacked logos">
      <img src="/img/html5_logo.png">
      <img src="/img/css3_logo.png">
      <img src="/img/nodejs_logo.png">
      <img src="/img/polymer_logo.png">
      <img src="/img/vuejs_logo.png">
      <img src="/img/gulp_logo.png">
    </div>
    <div class="stretch">
      <p>I am a <strong>full-stack developer</strong> and create complete applications to manage and analyze data. The web browser has become the perfect frontend to the database; it's verstile, working on every system, and as limitless as the data it displays, able to draw interactive graphs to entertaining animations.</p>
    </div>
  </div>
</section>
<section id="amateur-radio">
  <h3>Amateur Radio Station</h3>
  <div class="flex">
    <div class="stretch">
      <p>My callsign is <strong>KM4FPA</strong> and I'm a net control station for the Eagle Net on the <a href="http://ni4ce.org/wp1/" title="West Central Florida NI4CE Repeater System" rel="noopener" target="_blank">NI4CE repeater system</a>. My primary radio is an Icom 7100, with a Yaesu 8900 for mobile, and Baofeng's filling in the gaps.</p>
      <p>Checkout my radio website at <a href="https://km4fpa.com" target="_blank">KM4FPA.com</a>.</p>
    </div>
    <div class="stacked images">
      <img src="/img/radios/yaesu-icom-baofeng.jpg">
    </div>
  </div>
  <div class="flex around images">
    <img src="/img/radios/icom-7100.jpg">
    <img src="/img/radios/yaesu-8900.jpg">
  </div>
</section>
<section id="auburndale-florida">
  <h3>Native Floridian</h3>
  <div class="flex">
    <div class="stretch">
      <p>I've been born and raised in <strong>Central Florida</strong>.</p>
    </div>
    <div>
      <img src="/img/florida.png">
    </div>
  </div>
</section>
<!--<div>-->
<!--  <img>-->
<!--</div>-->
<section>
  <img class="section-header" src="/img/telescope.png">
  <h3>Find Me</h3>
  <p>Contact me <strong>via email</strong> at <a href="mailto:kevin@kevashcraft.com?subject=Hello from your website">kevin@kevashcraft.com</a> or type a quick message below:</p>
  <p>and you can <strong>find me around the web</strong>...</p>
  <div class="flex around social">
    <ul>
      <li>
        <a href="https://github.com/kevashcraft" title="KevAshcraft on Github">
          <i class="fa fa-github"></i>
          <span>Github</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/kevashcraft" title="@kevashcraft on Twitter">
          <i class="fa fa-twitter"></i>
          <span>Twitter</span>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/+KevinAshcraft" title="+KevinAshcraft on Google Plus" target="_blank" rel="noopener">
          <i class="fa fa-google-plus"></i>
          <span>Google+</span>
        </a>
      </li>
      <li>
        <a href="https://about.me/kevashcraft" title="KevAshcraft on About.me" target="_blank" rel="noopener">
          <i class="fa fa-user-circle-o"></i>
          <span>About.me</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://hub.docker.com/u/kevashcraft/" title="KevAshcraft on Docker" target="_blank" rel="noopener">
          <i class="fa fa-rocket"></i>
          <span>Docker</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/kevashcraft" title="KevAshcraft on Facebook" target="_blank" rel="noopener">
          <i class="fa fa-facebook"></i>
          <span>Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/kevashcraft/" title="@kevashcraft on Instagram" target="_blank" rel="noopener">
          <i class="fa fa-instagram"></i>
          <span>Instagram</span>
        </a>
      </li>
      <li>
        <a href="https://keybase.io/kevashcraft" title="KevAshcraft on Keybase.io" target="_blank" rel="noopener">
          <i class="fa fa-key"></i>
          <span>Keybase.io</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/kevashcraft" title="KevAshcraft on LinkedIn" target="_blank" rel="noopener">
          <i class="fa fa-linkedin"></i>
          <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://www.reddit.com/user/kevashcraft" title="KevAshcraft on Reddit" target="_blank" rel="noopener">
          <i class="fa fa-reddit-alien"></i>
          <span>Reddit</span>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/kevashcraft" title="KevAshcraft on YouTube" target="_blank" rel="noopener">
          <i class="fa fa-youtube-play"></i>
          <span>YouTube</span>
        </a>
      </li>
      <li>
        <a href="https://www.pinterest.com/kevashcraft/" title="KevAshcraft on Pinterest" target="_blank" rel="noopener">
          <i class="fa fa-pinterest-p"></i>
          <span>Pinterest</span>
        </a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
