<p>Hello World! This is the first entry of Kevin's Blog. Woohoo! There have been several others, but this one is here to stay (for now).</p>
<p>I'm a 31 year old computer programmer living in Florida.</p>
