@import "lib/reset.scss";
@import "config.scss";
@import "theme.scss";
@import "mixins.scss";

html {
  height: 100%;

  body {
    min-height: 100%;
    background: $main-background;

    font-size: $master-font-size;
    padding-top: $header-height;

    >header {
      position: fixed;
      top: 0;
      left: 0;
      height: $header-height;
      width: 100%;
      background: $header-background;

      >h1 {
        padding: 0 0 0 1em;
        font-size: 1.5em;
        @media screen and (max-width: $large) {
          padding: 0 0 0 0.5em;
        }

        a {
          @include link-base;
        }
      }
    }

    >main {
      background: $main-background;

      >section {
        margin: 2em;
        display: block;
        padding: 3em;
        background: $section-background;

        @media screen and (max-width: $large) {
          padding: 1em;
        }

        >header {
          padding: 0 0 2em 0;

          h2 {
            font-size: 1.5em;
            font-weight: bold;
          }
          small {
            font-size: 0.75em;
          }
        }

        >article {
          h2 {
            font-size: 1.5em;
            padding: 1em 0 1em 0.25em;
          }
          h3 {
            font-size: 1.25em;
            padding: 1em 0 1em 0.25em;
          }
          a {
            @include link;
          }

          p {
            line-height: 1.25em;
            margin: 1em;
          }
        }
      }
    }
  }
}
