@import "../../common/styles/lib/reset.scss";
@import "../../common/styles/config.scss";
@import "../../common/styles/master.scss";
@import "config.scss";

html {
  > body {
    > main {
      article {
        section {
          padding-top: 2em;
        }
      }
        
      .blog-list {
        span {
          font-size: 0.8em;
          line-height: 1em;
        }
      }
      .read-more {
        text-align: right;
        padding-right: 75px;
      }
      .snippet {
        padding: 2em;
      }
    }
  }
}
