@import "../../common/styles/lib/reset.scss";
@import "../../common/styles/config.scss";
@import "../../common/styles/master.scss";
@import "config.scss";

html {
  > body {
    > main {
      .read-more {
        text-align: right;
        padding-right: 75px;
      }
      .snippet {
        padding: 2em;
      }
    }
  }
}
