@import "../../common/styles/config.scss";
@import "../../common/styles/master.scss";
@import "config.scss";

html {
  > body {
    main {
      h2.hire {
        span {
          position: relative;
          top: -0.5em;
          left: -2em;
          display: inline-block;
          transform: rotate(45deg);
          color: red;
          font-size: 0.6em;
          font-weight: bold;
        }
      }
      .tab-content {
        height: 300px;
        overflow-y: auto;
        > div {
          display: none;
          &.active {
            display: block;
          }
        }
      }
      .tabs {
        ul {
         flex-wrap: wrap;
        }
      }
      .tab-content {
        width: 600px;
        max-width: 100%;
        ul {
          //display: table;
          li {
            list-style: disc;
            list-style-position: inside;
            text-indent: -1.5em;
            //display: table-row;
            //&::before {
            //  content: '- ';
            //  display: tabel-cell;
            //  text-align: right;
            //}
          }
        }
      }
      #contact_form {
        label {
          opacity: 0;
          transition: opacity 0.3s ease;
          &.active {
            opacity: 1;
          }
        }
      }
      .tab-container {
        width: 600px;
        > ul {
          display: block;
          margin: 0;
          li {
            display: inline-block;
            border: 1px solid black;
            border-bottom: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            &.active {
              border: none;
              background: $text-accent-color;
              padding: 4px 7px 2px;
              a {
                color: invert($text-primary-color);
              }
            }
            a {
              border: none;
              // cursor: default;
              cursor: pointer;
              padding: 2px 5px;
              &:hover {
                border: none;
              }
            }
          }
        }
        > div {
          border: 1px solid black;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          height: 200px;
          overflow-y: scroll;
          font-size: 0.8em;
          div {
            display: none;
          }
          div.active {
            display: block;
          }
        }
      }
    }
  }
}

#hat_titles {
  border-left: 1px solid black;
  @media screen and (max-width: $small) {
    border-left: none;
  }
  p {
    a {
      transition: all 0.1s ease;
      border: none;
      i {
        transition: color 0.1s ease;
      }
    }
    &:nth-of-type(1) {
      a:hover {
        i {
          color: rgb(255, 159, 31);
        }
      }
    }
    &:nth-of-type(2) {
      a:hover {
        i {
          color: rgb(185, 23, 185);
        }
      }
    }
    &:nth-of-type(3) {
      a:hover {
        i {
          color: rgb(33, 118, 184);
        }
      }
    }
  }
}
