<p>
  <a href="https://eaglelogger.com/" target="_blank" rel="noopener">EagleLogger</a> is an amateur radio net logging application. It was released into production on 1/29 as a webapp on EagleLogger.com and <a href="https://play.google.com/store/apps/details?id=com.eaglelogger.app" target="_blank" rel="noopener" title="EagleLogger on the Play Store">android app</a> on the play store.
</p>
