<p>
  Task management and planning are critical skills for a programmer.
</p>
<p>
  I love to learn. It's probably the most exciting part of programming for me, when I get to learn a new language or way to do something. Learning is fun, it's often something new, and it's also a recursive action.
</p>
