<!DOCTYPE html>
<html>
<head>
  {% block title %}
    <title>{{ title }} | Kevin Ashcraft</title>
  {% endblock %}

  {% include 'partials/google_analytics.twig' %}
</head>
<body>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block footer %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="/styles/master.css">
  <script type="text/javascript" src="/scripts/master.js"></script>
</body>
{% block toe %}{% endblock %}
</html>
