<footer>
  <div>
    <div>
      <div>
        <div class="h1"><a href="https://www.kevashcraft.com/" title="Kevin Ashcraft's Website">Kev<span>in</span> Ashcraft</a></div>
        <h2 class="hire">Computer Programmer <span>For Hire</span></h2>
      </div>
    </div>
    <div>
      <div>
        <h3>Internal Sites</h3>
        <ul>
          <li>
            <a href="https://blog.kevashcraft.com" title="Linux & Radio Tutorials">My Blog</a>
          </li>
          <li>
            <a href="https://tutorials.kevashcraft.com" title="Linux & Radio Tutorials">Linux & Radio Tutorials</a>
          </li>
        </ul>
      </div>
      <div>
        <h3>External Sites</h3>
        <ul>
          <li>
            <a href="https://km4fpa.com" title="KM4FPA.com">KM4FPA.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    {#<p>Copyright 2017 <a href="https://www.kevashcraft.com">Kevin Ashcraft</a> under the MIT License</p>#}
  </div>
</footer>
