{% extends 'templates/master.twig' %}

{% block title %}<title>Kevin Ashcraft's Website</title>{% endblock %}

{% block content %}
<section>
  <h3>Hello</h3>
  <div class="flex">
    <div>
      <img class="standard float-left" src="https://avatars2.githubusercontent.com/u/3028329?s=400&u=dcfb092eb190f79411167d447b10b35dd22a9267&v=4">
    </div>
    <div class="stretch">
      <p>My name is Kevin Ashcraft and I'm a computer programmer <strong>looking for a good team and an interesting project</strong>.</p>
    </div>
  </div>
</section>
<section>
  <div class="flex center">
    <div id="hat_titles" class="icon-margins">
      <p data-index="2"><a href="#linux-administrator"><strong><i class="fa fa-server"></i>Linux Administrator</strong></a></p>
      <p data-index="0"><a href="#database-administrator"><strong><i class="fa fa-database"></i>Database Administrator</strong></a></p>
      <p data-index="1"><a href="#full-stack-developer"><strong><i class="fa fa-circle-o"></i>Full Stack Developer</strong></a></p>
    </div>
    <div class="flex center">
      <canvas id="pie_chart"></canvas>
    </div>
  </div>
</section>
<section id="linux-administrator">
  <h3 class="pb"><i class="fa fa-server"></i>Linux Administrator</h3>
  <div class="flex margin-tb">
    <div class="stacked logos small-row">
      <img src="/img/centos_logo.png" alt="centos logo" title="CentOS">
      <img src="/img/redhat_logo.png" alt="redhat linux logo" title="Red Hat">
      <img src="/img/ubuntu_logo.png" alt="ubuntu linux logo" title="Ubuntu">
    </div>
    <div class="stretch">
      <p>I am a Linux administrator with <strong>experience in server management and orchestration</strong> focused on security, automation, and conformity.</p>
    </div>
  </div>
  <div class="flex-columns">
    <div class="tabs is-centered">
      <ul>
        <li class="is-active"><a>Software</a></li>
        <li><a>Projects</a></li>
        <li><a>Languages</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div>
        <ul>
          <li>CentOS</li>
          <li>Red Hat</li>
          <li>Ubuntu</li>
          <li>Arch Linux</li>
          <li>Windows Server 2008</li>
          <li>Windows Server 2012</li>
          <li>Postfix</li>
          <li>Dovecot</li>
          <li>Apache</li>
          <li>NginX</li>
          <li>PostgreSQL</li>
          <li>Mongodb</li>
          <li>Mariadb/MySQL</li>
          <li>Puppet</li>
          <li>Linux Admin Tools</li>
          <li>Libvirt</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Administered small business virtual server</li>
          <li>Administered samba4 active directory domain controller</li>
          <li>Administered postfix/dovecot imap email server</li>
          <li>Administered small business networks for CPAs, lawyers, and contractors</li>
          <li>Administered puppet-managed environments</li>
          <li>Administered application servers (web, db, maint) for medium-scale web service</li>
          <li>Administered file and backup servers</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>BASH</li>
          <li>Python</li>
          <li>Ruby</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</section>
<section id="database-administrator">
  <h3 class="pb"><i class="fa fa-database"></i>Database Administrator</h3>
  <div class="flex margin-tb">
    <div class="stacked logos small-row">
      <img src="/img/postgres_logo.png" alt="postgresql logo" title="PostgreSQL">
      <img src="/img/mysql-mariadb_logo.png" alt="mysql/mariadb logo" title="MariaDB">
      <img src="/img/mongo_logo.png" alt="mongodb logo" title="MongoDB">
    </div>
    <div class="stretch margin">
      <p>I am a database administrator <strong>experienced with relational and noSQL style</strong> servers in a production environment.</p>
    </div>
  </div>
  <div class="flex-columns">
    <div class="tabs">
      <ul>
        <li><a>Software</a></li>
        <li class="is-active"><a>Projects</a></li>
        <li><a>Accomplishments</a> </li>
      </ul>
    </div>
    <div class="tab-content">
      <div>
        <ul>
          <li>PostgreSQL</li>
          <li>MySQL/MariaDB</li>
          <li>MongoDB</li>
          <li>Cassandra*</li>
          <li>Microsoft Access*</li>
          <li>Redis*</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Administered mongodb 15-node cluster</li>
          <li>Administered large postgresql database clusters</li>
          <li>Administered a multi-site wordpress mysql database</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Design/Maintain MongoDB sharded cluster</li>
          <li>Enhance</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="full-stack-developer">
  <h3 class="pb"><i class="fa fa-circle-o"></i>Full Stack Developer</h3>
  <div class="flex margin-tb">
    <div class="stretch">
      <p>I am a full stack developer interested in creating <strong>reliable, user friendly applications</strong> with modern tools and practices.</p>
    </div>
  </div>
  <div class="flex-columns">
    <div class="tabs">
      <ul>
        <li><a>Languages</a></li>
        <li><a>Projects</a></li>
        <li class="is-active"><a>Libraries</a></li>
      </ul>
    </div>
    <div class="tab-content stretch">
      <div>
        <ul>
          <li>PHP</li>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>SASS</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Developed a raspberry pi application for 2ToneDetect ambulance communication</li>
          <li>Developed a job management application for a plumbing contractor</li>
          <li>Developed an amateur radio streaming application for a local repeater</li>
          <li>Developed an amateur radio net logging application for local nets</li>
          <li>Developed an adspot analytics application for the top media companies in america</li>
          <li>Developed a wordpress plugin for site reviews </li>
          <li>Developed an on-the-fly email pdf editor</li>
          <li>Developed an android application wrapper</li>
          <li>Developed an checkin kiosk web application</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>Webpack</li>
          <li>Gulp</li>
          <li>Npm</li>
          <li>Bower</li>
          <li>Vue</li>
          <li>PolymerJS</li>
          <li>jQuery</li>
          <li>MaterializeCSS</li>
          <li>Bulma</li>
          <li>Semantic</li>
          <li>Datatables</li>
          <li>Amcharts</li>
          <li>ChartJS</li>
          <li>D3</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="contact-me">
  <h3 class="pb"><i class="fa fa-share"></i>Contact Me</h3>
  <div class="container">
    <div class="flex">
      <div class="stretch">
        <p>Do you have (or want to build) a great team and an interesting project?</p>
      </div>
    </div>
    <div class="flex">
      <div class="stretch">
        <p>Email me at <a href="mailto:hire@kevashcraft.com">hire@kevashcraft.com</a> or use the form below.</p>
      </div>
    </div>
    <form id="contact_form" class="autoshow-labels box contact-form" action="/send-message">
      <h3>Send me a message</h3>
      <div id="contact_message" class="contact-message">
        <p>Thanks! I'll be in touch :)</p>
      </div>
      <div class="fields">
        <div class="field-body columns is-centered">
          <div class="field column is-one-half">
            <label for="name_input" class="label">Name</label>
            <div class="control is-expanded has-icons-left">
              <input type="text" name="name" id="name_input" placeholder="Your name" class="input" />
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field column is-one-half">
            <label for="email_input" class="label">Email</label>
            <div class="control is-expanded has-icons-left">
              <input type="email" name="email" id="email_input" placeholder="Your email address" class="input" />
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="field">
          <label for="message_input" class="label">Message</label>
          <div class="control">
            <textarea name="message" id="message_input" placeholder="A message" class="textarea"></textarea>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button class="button is-primary">Send Message</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
